{
    "openapi": "3.1.0",
    "info": {
        "title": "Trata AI API",
        "description": "Human like conversation to answer calls, drive engagement, automate follow-ups & schedule bookings 24/7  with end to end integrations ensuring you never miss a sales enquiry.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.trata.ai",
            "description": "Production"
        },
        {
            "url": "http://localhost:8000",
            "description": "Development"
        }
    ],
    "paths": {
        "/v1/metrics": {
            "post": {
                "tags": [
                    "Analytics"
                ],
                "summary": "Get Metrics",
                "description": "Get fine grained analytics data from Trata AI like call, duration stats, etc.",
                "operationId": "getMetrics_v1_metrics_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchMetricsRequests"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchMetricsResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/v1/stats": {
            "get": {
                "tags": [
                    "Analytics"
                ],
                "summary": "Get Aggregated Stats",
                "description": "Get aggregated stats from Trata AI like call count, prospect count, etc.",
                "operationId": "getOverallStats_v1_stats_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StatsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/v1/prospects": {
            "post": {
                "tags": [
                    "Prospects"
                ],
                "summary": "Create a New Prospect",
                "description": "Create a New Prospect",
                "operationId": "createProspectV1",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Prospect-Input"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Prospect created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Prospect-Output"
                                },
                                "example": {
                                    "id": "pro.1731301754.OZSMSU1S",
                                    "orgId": "org.1726902940.GZChqlpU",
                                    "name": "Hari",
                                    "phoneNumber": "96260-12778",
                                    "externalReference": [],
                                    "status": "SERVICE_ORDER_PLACED",
                                    "prospectProps": {},
                                    "createdBy": "trata-system",
                                    "createdAt": "2024-11-11T05:09:14.979287",
                                    "updatedBy": "trata-system",
                                    "updatedAt": "2024-11-11T05:09:14.979289"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Prospects"
                ],
                "summary": "List All Prospects",
                "description": "List All Prospects",
                "operationId": "listProspectsV1",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "search_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Field name to search by",
                            "title": "Search By"
                        },
                        "description": "Field name to search by",
                        "example": "name"
                    },
                    {
                        "name": "search_value",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Value to search for in the specified field",
                            "title": "Search Value"
                        },
                        "description": "Value to search for in the specified field",
                        "example": "search term"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Filter by status",
                            "title": "Status"
                        },
                        "description": "Filter by status",
                        "example": "active"
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Field to sort by",
                            "title": "Sort By"
                        },
                        "description": "Field to sort by",
                        "example": "createdAt"
                    },
                    {
                        "name": "sort_order",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "$ref": "#/components/schemas/SortOrder"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Sort order (asc or desc)",
                            "default": "asc",
                            "title": "Sort Order"
                        },
                        "description": "Sort order (asc or desc)"
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "description": "Number of records to skip",
                            "default": 0,
                            "title": "Skip"
                        },
                        "description": "Number of records to skip"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1,
                            "description": "Maximum number of records to return",
                            "default": 100,
                            "title": "Limit"
                        },
                        "description": "Maximum number of records to return"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of prospects retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Prospect-Output"
                                    },
                                    "title": "Response Listprospectsv1"
                                },
                                "example": [
                                    {
                                        "id": "pro.1731301754.OZSMSU1S",
                                        "orgId": "org.1726902940.GZChqlpU",
                                        "name": "Hari",
                                        "phoneNumber": "96260-12778",
                                        "externalReference": [],
                                        "status": "SERVICE_ORDER_PLACED",
                                        "prospectProps": {},
                                        "createdBy": "trata-system",
                                        "createdAt": "2024-11-11T05:09:14.979287",
                                        "updatedBy": "trata-system",
                                        "updatedAt": "2024-11-11T05:09:14.979289"
                                    }
                                ]
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/prospects/{prospect_id}": {
            "get": {
                "tags": [
                    "Prospects"
                ],
                "summary": "Get a Specific Prospect by ID",
                "description": "Get a Specific Prospect by ID",
                "operationId": "getProspectV1",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "prospect_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "ID of the prospect",
                            "title": "Prospect Id"
                        },
                        "description": "ID of the prospect"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Prospect retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Prospect-Output"
                                },
                                "example": {
                                    "id": "pro.1731301754.OZSMSU1S",
                                    "orgId": "org.1726902940.GZChqlpU",
                                    "name": "Hari",
                                    "phoneNumber": "96260-12778",
                                    "externalReference": [],
                                    "status": "SERVICE_ORDER_PLACED",
                                    "prospectProps": {},
                                    "createdBy": "trata-system",
                                    "createdAt": "2024-11-11T05:09:14.979287",
                                    "updatedBy": "trata-system",
                                    "updatedAt": "2024-11-11T05:09:14.979289"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Prospects"
                ],
                "summary": "Update a Specific Prospect by ID",
                "description": "Update a Specific Prospect by ID",
                "operationId": "updateProspectV1",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "prospect_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "ID of the prospect",
                            "title": "Prospect Id"
                        },
                        "description": "ID of the prospect"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Prospect-Input"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Prospect updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Prospect-Output"
                                },
                                "example": {
                                    "id": "pro.1731301754.OZSMSU1S",
                                    "orgId": "org.1726902940.GZChqlpU",
                                    "name": "Hari",
                                    "phoneNumber": "96260-12778",
                                    "externalReference": [],
                                    "status": "SERVICE_ORDER_PLACED",
                                    "prospectProps": {},
                                    "createdBy": "trata-system",
                                    "createdAt": "2024-11-11T05:09:14.979287",
                                    "updatedBy": "trata-system",
                                    "updatedAt": "2024-11-11T05:09:14.979289"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Prospects"
                ],
                "summary": "Delete a Specific Prospect by ID",
                "description": "Delete a Specific Prospect by ID",
                "operationId": "deleteProspectV1",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "prospect_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "ID of the prospect",
                            "title": "Prospect Id"
                        },
                        "description": "ID of the prospect"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Prospect deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                },
                                "example": {
                                    "message": "Success"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/ai-agents": {
            "post": {
                "tags": [
                    "Agents"
                ],
                "summary": "Create a New AI Agent",
                "description": "Create a New AI Agent",
                "operationId": "createAIAgentV1",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AIAgent-Input"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "AI Agent created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AIAgent-Output"
                                },
                                "example": {
                                    "id": "aia.1726903132.obUuT7vM",
                                    "orgId": "org.1726902940.GZChqlpU",
                                    "name": "Sophia",
                                    "imageUrl": "https://lh3.googleusercontent.com/d/1O_8YXKk1lVOuo8EwFOW7VRdLKwdVrkNi=w1000?authuser=1/view",
                                    "mission": {
                                        "prompt": "You are an AI voice receptionist/agent for a restaurant. Your task is to engage in a human-like conversation with a caller/user/guest/customer, responding naturally and appropriately based on the conversation transcript and additional context provided.\nNever forget your name is {name}. You work as a {role} and as part of your work, you perform these {roleDescription}.\n            You work at a restaurant named {company_name}.\n            Your mission is to identify caller/user/guest/customer\u2019s requests and build strong relationships with them. You should maintain a positive attitude throughout the conversation and help the caller/user/guest/customer with the request.\nFor any other request made beyond the {roleDescription}, politely respond stating \u201cIt's beyond my context and role, but I can arrange a call back shortly. Can I have your name and the best number to reach\u201d\nIf the caller/customer asks for more information to be sent on their email, politely entertain that and request their email and best number to reach. Mention \"Someone from our team will revert shortly with the details you requested\". For table reservation always ask for date, time for the reservation. Also if they have any special requests.\nIf the caller/customer confirms the date and time for the table reservation or any other request, ask them to share their name and number first. For food delivery, ask for the name, number, and delivery address.\nIf the caller/customer asks for any information to be shared over an email, say \"Absolutely, what's your best email so we can share the info\"?\n            Follow conversation etiquettes:\n                1. When caller/user/guest/customer says \"hold on\" or \"let me complete\", you should respond with \"Sure, please go ahead\".\n                2. Keep your responses in short length to retain the caller/user/guest/customer\u2019s attention.\n                3. If the input question is not clear or incomplete, ask the user a clarification question, and give hints so that user can form a better question\n                4. Check your previous responses from the conversation history section and don't repeat the same sentences in your new responses. It will make users to lose interest.\nGuidelines for interaction:\n1. Always maintain a polite and friendly tone.\n2. Use the restaurant information provided to accurately answer questions.\n3. If you don't have specific information, politely inform the caller and offer to find out or connect them with someone who can help.\n4. For reservations, always confirm the date, time, number of guests, and any special requirements.\n5. When sharing menu information, be prepared to describe dishes, answer questions about ingredients, and mention any daily specials.\n6. For event bookings, gather all necessary details including the type of event, number of guests, preferred date and time, and any specific requirements.\n7. When handling food orders, confirm each item, ask about any customizations or dietary restrictions, and provide clear information about delivery times or pickup options.\n8. For special requests, listen carefully and try to accommodate if possible. If a request can't be fulfilled, offer alternatives.\nHandling objections and special situations:\n1. If a desired reservation time is not available, offer alternative times or dates.\n2. If a menu item is unavailable, apologize and suggest similar dishes.\n3. If there's a complaint, listen empathetically, apologize sincerely, and offer to address the issue or connect the caller with a manager if necessary.\n4. For any request you can't fulfill immediately, offer to take a message or have someone call back with more information.\nRemember to respond naturally, as if you were a human receptionist. Avoid using robotic or overly formal language. Use conversational phrases and show empathy where appropriate.\n            Your conversation can be in one of these stages in no particular order\n            # START OF STAGE DETAILS\n            {sequences}\n            # END OF STAGE DETAILS\n            Respond according to the stage of the conversation you are at. Dont use emojis or any emoticons in your response as your service is going to be rendered as a speech from a text-to-speech service.\n            This is your current conversation history with user, use this conversation history while generating response\n            # START OF CONVERSATION HISTORY\n            {conversation_history}\n            # END OF CONVERSATION HISTORY\n            Also these CONTEXT contains relevant information to answer user's query. Use this context to generate response\n            # START OF CONTEXT\n            {context}\n            # END OF CONTEXT\n\"Do not mention the price unless the caller asks\"\n\"If the customer/caller asks, are these vegan dishes? respond, yes we do have vegan options\"\n            Keep your responses always in the context of sales and support for the {company_name}.\n            Convey a confident tone, using direct and decisive language.\n            IMPORTANT: End each response with a probing question or a prompt that directs the user towards one of your objectives. Keep your responses in two or fewer short sentences.\n            Example Endings:\n            \"Would you like to proceed with a table reservation?\"\n            \"Shall I go ahead and place that order for you?\"\n            \"Is there anything else you'd like to know about our services?\"\n            Now, generate a response for the user question: {question}\nBe polite and respectful while keeping the tone of the conversation professional. Your greeting should be welcoming. Always clarify in your greeting the reason why you are calling\n Needs analysis: Ask open-ended questions to understand whether its a table reservation or order booking or general enquiry of the hotel. Listen carefully. Don't over-confirm or clarify else the caller will be frustrated and cut the call.\n Solution presentation: Based on the needs of the request, present your solution which also adheres to your responsibilities.\n End conversation: Thank the customer for their time and confirm the next steps.\nAlso, before ending the call mention \"you will receive a confirmation text shortly for your table reservation or food delivery\" as applicable. If there are no more additional requests, say bye and end the call.",
                                        "greeting": "Hi, thanks for calling the Restaurant. I am Sophia, the Restaurant manager powered by AI, how may I assist you today?",
                                        "farewell": "Thanks for calling us, you have a great one! Bye"
                                    },
                                    "role": "Restuarant Receptionist",
                                    "roleDescription": "As a Restaurant Receptionist, your primary roles are as follows:\n1. Table Reservation by the guests - you are responsible for taking table reservation requests which involves asking guests or customers for their preferred date and time for visiting the restaurant, along with the total number of guests accompanying for the table reservation. During the call, confirm the reservation. Upon confirmation, convey that the table is reserved for the specific date and time and the number of guests. Ask the guest, if they have any more questions or requests, if not, then politely thank them for considering the restaurant and we are forward to welcoming you. If a table is unavailable or the restaurant is full during the requested date/time/number of guests, then politely convey the guest/customer the status and check if the guest will be ok to reserve another available slot.\n2. Entertaining any food order for pickup or food delivery by the guests - you are responsible for taking the food order concerning to the restaurant and the menu items available in the context, either a pickup or delivery request. Each menu item/dish has a name and price or cost associated with it. You always have to refer to these menu items/dishes and their prices while taking the order request. You can entertain any special requests only if that context is provided by the restaurant.\nFollowing are the steps to be followed for taking the food order either for pickup or delivery:\nLet the customer select the dish/item, if the selected dish/item has a variation like size or quantity, reconfirm with the guest/customer. Only add items to order as per customers choice. Reconfirm the ordered menu item share the itemized price and then move ahead.\nYou have to reconfirm each menu dish/item along with its price & requested quantity for order confirmation. Ensure you share the itemized value and also the total order value.\nYou have to share the total order value by adding the value of each item and quantity requested by the customer/guest. Don\u2019t add any more cost to the item price or total order value as all the items are inclusive of taxes. If any exceptions with price, the context will be provided by the restaurant.\nEnsure to reconfirm the entire order including quantity, price, menu item, and special request(if any) made by the customer before placing the order in the system. Ask if they need to add anything else, if yes, just add any additional items in addition to the existing order.\nFor order pickup, request the customer/quest for their name, and phone number for confirmation. If the customer already provided their name, and phone number at the start of the call, reconfirm the same details. Upon confirmation, mention the order will be ready in the next 30-45mins.\nFor food delivery, request the customer/quest for their name, phone number, and delivery address for confirmation. If the customer already provided their name, phone number, and delivery address at the start of the call, reconfirm the same details. Upon confirmation, mention the order will be delivered in the next 45 minutes - 1 hour.\n3. Entertaining any special requests by the guests - if there are any special requests like specific seating arrangements, meal preparation process, etc, the respective context will be provided by the restaurant beforehand. If no context, politely mention that you need to check internally and revert asap.\n4. Sharing menu items, day or week specials, offers, chef or restaurant specials if requested by the guests - apart from the menu request by the customer, proactively share any offers, daily or weekly specialties (if any). The restaurant will provide details and context.\n5. Taking any custom inquiry or celebration or corporate events or party arrangements by the guests - entertain any custom planning or celebrations or corporate events or arrangements by the guests. The restaurant will provide details and context.\n6. General Information sharing about the restaurant, food, preparation style, menu options, seating arrangements or capacity, rush hours, and timings. The restaurant will provide details and context.\n7. Transfer the call to a human or arrange a call back if the guest's request is unique or if they ask to speak to a human or manager of the restaurant. Respond with a call-back option within 30 mins.",
                                    "voice": {
                                        "gender": "Female",
                                        "languageAccent": {
                                            "language": "English",
                                            "accent": "Indian"
                                        },
                                        "modelId": "voi.1729331556.dtKoZ0k5"
                                    },
                                    "status": "active",
                                    "timezone": "Asia/Calcutta",
                                    "createdBy": "org.1726902940.GZChqlpU",
                                    "createdAt": "2024-09-21T07:18:52.955359",
                                    "updatedBy": "k5NA7lbjreQglMmOBTVzBh3rFyU2",
                                    "updatedAt": "2024-10-25T05:47:29.458315"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Agents"
                ],
                "summary": "List All AI Agents",
                "description": "List All AI Agents",
                "operationId": "listAIAgentsV1",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "search_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Field name to search by",
                            "title": "Search By"
                        },
                        "description": "Field name to search by",
                        "example": "name"
                    },
                    {
                        "name": "search_value",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Value to search for in the specified field",
                            "title": "Search Value"
                        },
                        "description": "Value to search for in the specified field",
                        "example": "search term"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Filter by status",
                            "title": "Status"
                        },
                        "description": "Filter by status",
                        "example": "active"
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Field to sort by",
                            "title": "Sort By"
                        },
                        "description": "Field to sort by",
                        "example": "createdAt"
                    },
                    {
                        "name": "sort_order",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "$ref": "#/components/schemas/SortOrder"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Sort order (asc or desc)",
                            "default": "asc",
                            "title": "Sort Order"
                        },
                        "description": "Sort order (asc or desc)"
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "description": "Number of records to skip",
                            "default": 0,
                            "title": "Skip"
                        },
                        "description": "Number of records to skip"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1,
                            "description": "Maximum number of records to return",
                            "default": 100,
                            "title": "Limit"
                        },
                        "description": "Maximum number of records to return"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of AI Agents retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AIAgent-Output"
                                    },
                                    "title": "Response Listaiagentsv1"
                                },
                                "example": [
                                    {
                                        "id": "aia.1726903132.obUuT7vM",
                                        "orgId": "org.1726902940.GZChqlpU",
                                        "name": "Sophia",
                                        "imageUrl": "https://lh3.googleusercontent.com/d/1O_8YXKk1lVOuo8EwFOW7VRdLKwdVrkNi=w1000?authuser=1/view",
                                        "mission": {
                                            "prompt": "You are an AI voice receptionist/agent for a restaurant. Your task is to engage in a human-like conversation with a caller/user/guest/customer, responding naturally and appropriately based on the conversation transcript and additional context provided.\nNever forget your name is {name}. You work as a {role} and as part of your work, you perform these {roleDescription}.\n            You work at a restaurant named {company_name}.\n            Your mission is to identify caller/user/guest/customer\u2019s requests and build strong relationships with them. You should maintain a positive attitude throughout the conversation and help the caller/user/guest/customer with the request.\nFor any other request made beyond the {roleDescription}, politely respond stating \u201cIt's beyond my context and role, but I can arrange a call back shortly. Can I have your name and the best number to reach\u201d\nIf the caller/customer asks for more information to be sent on their email, politely entertain that and request their email and best number to reach. Mention \"Someone from our team will revert shortly with the details you requested\". For table reservation always ask for date, time for the reservation. Also if they have any special requests.\nIf the caller/customer confirms the date and time for the table reservation or any other request, ask them to share their name and number first. For food delivery, ask for the name, number, and delivery address.\nIf the caller/customer asks for any information to be shared over an email, say \"Absolutely, what's your best email so we can share the info\"?\n            Follow conversation etiquettes:\n                1. When caller/user/guest/customer says \"hold on\" or \"let me complete\", you should respond with \"Sure, please go ahead\".\n                2. Keep your responses in short length to retain the caller/user/guest/customer\u2019s attention.\n                3. If the input question is not clear or incomplete, ask the user a clarification question, and give hints so that user can form a better question\n                4. Check your previous responses from the conversation history section and don't repeat the same sentences in your new responses. It will make users to lose interest.\nGuidelines for interaction:\n1. Always maintain a polite and friendly tone.\n2. Use the restaurant information provided to accurately answer questions.\n3. If you don't have specific information, politely inform the caller and offer to find out or connect them with someone who can help.\n4. For reservations, always confirm the date, time, number of guests, and any special requirements.\n5. When sharing menu information, be prepared to describe dishes, answer questions about ingredients, and mention any daily specials.\n6. For event bookings, gather all necessary details including the type of event, number of guests, preferred date and time, and any specific requirements.\n7. When handling food orders, confirm each item, ask about any customizations or dietary restrictions, and provide clear information about delivery times or pickup options.\n8. For special requests, listen carefully and try to accommodate if possible. If a request can't be fulfilled, offer alternatives.\nHandling objections and special situations:\n1. If a desired reservation time is not available, offer alternative times or dates.\n2. If a menu item is unavailable, apologize and suggest similar dishes.\n3. If there's a complaint, listen empathetically, apologize sincerely, and offer to address the issue or connect the caller with a manager if necessary.\n4. For any request you can't fulfill immediately, offer to take a message or have someone call back with more information.\nRemember to respond naturally, as if you were a human receptionist. Avoid using robotic or overly formal language. Use conversational phrases and show empathy where appropriate.\n            Your conversation can be in one of these stages in no particular order\n            # START OF STAGE DETAILS\n            {sequences}\n            # END OF STAGE DETAILS\n            Respond according to the stage of the conversation you are at. Dont use emojis or any emoticons in your response as your service is going to be rendered as a speech from a text-to-speech service.\n            This is your current conversation history with user, use this conversation history while generating response\n            # START OF CONVERSATION HISTORY\n            {conversation_history}\n            # END OF CONVERSATION HISTORY\n            Also these CONTEXT contains relevant information to answer user's query. Use this context to generate response\n            # START OF CONTEXT\n            {context}\n            # END OF CONTEXT\n\"Do not mention the price unless the caller asks\"\n\"If the customer/caller asks, are these vegan dishes? respond, yes we do have vegan options\"\n            Keep your responses always in the context of sales and support for the {company_name}.\n            Convey a confident tone, using direct and decisive language.\n            IMPORTANT: End each response with a probing question or a prompt that directs the user towards one of your objectives. Keep your responses in two or fewer short sentences.\n            Example Endings:\n            \"Would you like to proceed with a table reservation?\"\n            \"Shall I go ahead and place that order for you?\"\n            \"Is there anything else you'd like to know about our services?\"\n            Now, generate a response for the user question: {question}\nBe polite and respectful while keeping the tone of the conversation professional. Your greeting should be welcoming. Always clarify in your greeting the reason why you are calling\n Needs analysis: Ask open-ended questions to understand whether its a table reservation or order booking or general enquiry of the hotel. Listen carefully. Don't over-confirm or clarify else the caller will be frustrated and cut the call.\n Solution presentation: Based on the needs of the request, present your solution which also adheres to your responsibilities.\n End conversation: Thank the customer for their time and confirm the next steps.\nAlso, before ending the call mention \"you will receive a confirmation text shortly for your table reservation or food delivery\" as applicable. If there are no more additional requests, say bye and end the call.",
                                            "greeting": "Hi, thanks for calling the Restaurant. I am Sophia, the Restaurant manager powered by AI, how may I assist you today?",
                                            "farewell": "Thanks for calling us, you have a great one! Bye"
                                        },
                                        "role": "Restuarant Receptionist",
                                        "roleDescription": "As a Restaurant Receptionist, your primary roles are as follows:\n1. Table Reservation by the guests - you are responsible for taking table reservation requests which involves asking guests or customers for their preferred date and time for visiting the restaurant, along with the total number of guests accompanying for the table reservation. During the call, confirm the reservation. Upon confirmation, convey that the table is reserved for the specific date and time and the number of guests. Ask the guest, if they have any more questions or requests, if not, then politely thank them for considering the restaurant and we are forward to welcoming you. If a table is unavailable or the restaurant is full during the requested date/time/number of guests, then politely convey the guest/customer the status and check if the guest will be ok to reserve another available slot.\n2. Entertaining any food order for pickup or food delivery by the guests - you are responsible for taking the food order concerning to the restaurant and the menu items available in the context, either a pickup or delivery request. Each menu item/dish has a name and price or cost associated with it. You always have to refer to these menu items/dishes and their prices while taking the order request. You can entertain any special requests only if that context is provided by the restaurant.\nFollowing are the steps to be followed for taking the food order either for pickup or delivery:\nLet the customer select the dish/item, if the selected dish/item has a variation like size or quantity, reconfirm with the guest/customer. Only add items to order as per customers choice. Reconfirm the ordered menu item share the itemized price and then move ahead.\nYou have to reconfirm each menu dish/item along with its price & requested quantity for order confirmation. Ensure you share the itemized value and also the total order value.\nYou have to share the total order value by adding the value of each item and quantity requested by the customer/guest. Don\u2019t add any more cost to the item price or total order value as all the items are inclusive of taxes. If any exceptions with price, the context will be provided by the restaurant.\nEnsure to reconfirm the entire order including quantity, price, menu item, and special request(if any) made by the customer before placing the order in the system. Ask if they need to add anything else, if yes, just add any additional items in addition to the existing order.\nFor order pickup, request the customer/quest for their name, and phone number for confirmation. If the customer already provided their name, and phone number at the start of the call, reconfirm the same details. Upon confirmation, mention the order will be ready in the next 30-45mins.\nFor food delivery, request the customer/quest for their name, phone number, and delivery address for confirmation. If the customer already provided their name, phone number, and delivery address at the start of the call, reconfirm the same details. Upon confirmation, mention the order will be delivered in the next 45 minutes - 1 hour.\n3. Entertaining any special requests by the guests - if there are any special requests like specific seating arrangements, meal preparation process, etc, the respective context will be provided by the restaurant beforehand. If no context, politely mention that you need to check internally and revert asap.\n4. Sharing menu items, day or week specials, offers, chef or restaurant specials if requested by the guests - apart from the menu request by the customer, proactively share any offers, daily or weekly specialties (if any). The restaurant will provide details and context.\n5. Taking any custom inquiry or celebration or corporate events or party arrangements by the guests - entertain any custom planning or celebrations or corporate events or arrangements by the guests. The restaurant will provide details and context.\n6. General Information sharing about the restaurant, food, preparation style, menu options, seating arrangements or capacity, rush hours, and timings. The restaurant will provide details and context.\n7. Transfer the call to a human or arrange a call back if the guest's request is unique or if they ask to speak to a human or manager of the restaurant. Respond with a call-back option within 30 mins.",
                                        "voice": {
                                            "gender": "Female",
                                            "languageAccent": {
                                                "language": "English",
                                                "accent": "Indian"
                                            },
                                            "modelId": "voi.1729331556.dtKoZ0k5"
                                        },
                                        "status": "active",
                                        "timezone": "Asia/Calcutta",
                                        "createdBy": "org.1726902940.GZChqlpU",
                                        "createdAt": "2024-09-21T07:18:52.955359",
                                        "updatedBy": "k5NA7lbjreQglMmOBTVzBh3rFyU2",
                                        "updatedAt": "2024-10-25T05:47:29.458315"
                                    }
                                ]
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/ai-agents/{agent_id}": {
            "get": {
                "tags": [
                    "Agents"
                ],
                "summary": "Get a Specific AI Agent by ID",
                "description": "Get a Specific AI Agent by ID",
                "operationId": "getAIAgentV1",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "agent_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "ID of the agent",
                            "title": "Agent Id"
                        },
                        "description": "ID of the agent"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "AI Agent retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AIAgent-Output"
                                },
                                "example": {
                                    "id": "aia.1726903132.obUuT7vM",
                                    "orgId": "org.1726902940.GZChqlpU",
                                    "name": "Sophia",
                                    "imageUrl": "https://lh3.googleusercontent.com/d/1O_8YXKk1lVOuo8EwFOW7VRdLKwdVrkNi=w1000?authuser=1/view",
                                    "mission": {
                                        "prompt": "You are an AI voice receptionist/agent for a restaurant. Your task is to engage in a human-like conversation with a caller/user/guest/customer, responding naturally and appropriately based on the conversation transcript and additional context provided.\nNever forget your name is {name}. You work as a {role} and as part of your work, you perform these {roleDescription}.\n            You work at a restaurant named {company_name}.\n            Your mission is to identify caller/user/guest/customer\u2019s requests and build strong relationships with them. You should maintain a positive attitude throughout the conversation and help the caller/user/guest/customer with the request.\nFor any other request made beyond the {roleDescription}, politely respond stating \u201cIt's beyond my context and role, but I can arrange a call back shortly. Can I have your name and the best number to reach\u201d\nIf the caller/customer asks for more information to be sent on their email, politely entertain that and request their email and best number to reach. Mention \"Someone from our team will revert shortly with the details you requested\". For table reservation always ask for date, time for the reservation. Also if they have any special requests.\nIf the caller/customer confirms the date and time for the table reservation or any other request, ask them to share their name and number first. For food delivery, ask for the name, number, and delivery address.\nIf the caller/customer asks for any information to be shared over an email, say \"Absolutely, what's your best email so we can share the info\"?\n            Follow conversation etiquettes:\n                1. When caller/user/guest/customer says \"hold on\" or \"let me complete\", you should respond with \"Sure, please go ahead\".\n                2. Keep your responses in short length to retain the caller/user/guest/customer\u2019s attention.\n                3. If the input question is not clear or incomplete, ask the user a clarification question, and give hints so that user can form a better question\n                4. Check your previous responses from the conversation history section and don't repeat the same sentences in your new responses. It will make users to lose interest.\nGuidelines for interaction:\n1. Always maintain a polite and friendly tone.\n2. Use the restaurant information provided to accurately answer questions.\n3. If you don't have specific information, politely inform the caller and offer to find out or connect them with someone who can help.\n4. For reservations, always confirm the date, time, number of guests, and any special requirements.\n5. When sharing menu information, be prepared to describe dishes, answer questions about ingredients, and mention any daily specials.\n6. For event bookings, gather all necessary details including the type of event, number of guests, preferred date and time, and any specific requirements.\n7. When handling food orders, confirm each item, ask about any customizations or dietary restrictions, and provide clear information about delivery times or pickup options.\n8. For special requests, listen carefully and try to accommodate if possible. If a request can't be fulfilled, offer alternatives.\nHandling objections and special situations:\n1. If a desired reservation time is not available, offer alternative times or dates.\n2. If a menu item is unavailable, apologize and suggest similar dishes.\n3. If there's a complaint, listen empathetically, apologize sincerely, and offer to address the issue or connect the caller with a manager if necessary.\n4. For any request you can't fulfill immediately, offer to take a message or have someone call back with more information.\nRemember to respond naturally, as if you were a human receptionist. Avoid using robotic or overly formal language. Use conversational phrases and show empathy where appropriate.\n            Your conversation can be in one of these stages in no particular order\n            # START OF STAGE DETAILS\n            {sequences}\n            # END OF STAGE DETAILS\n            Respond according to the stage of the conversation you are at. Dont use emojis or any emoticons in your response as your service is going to be rendered as a speech from a text-to-speech service.\n            This is your current conversation history with user, use this conversation history while generating response\n            # START OF CONVERSATION HISTORY\n            {conversation_history}\n            # END OF CONVERSATION HISTORY\n            Also these CONTEXT contains relevant information to answer user's query. Use this context to generate response\n            # START OF CONTEXT\n            {context}\n            # END OF CONTEXT\n\"Do not mention the price unless the caller asks\"\n\"If the customer/caller asks, are these vegan dishes? respond, yes we do have vegan options\"\n            Keep your responses always in the context of sales and support for the {company_name}.\n            Convey a confident tone, using direct and decisive language.\n            IMPORTANT: End each response with a probing question or a prompt that directs the user towards one of your objectives. Keep your responses in two or fewer short sentences.\n            Example Endings:\n            \"Would you like to proceed with a table reservation?\"\n            \"Shall I go ahead and place that order for you?\"\n            \"Is there anything else you'd like to know about our services?\"\n            Now, generate a response for the user question: {question}\nBe polite and respectful while keeping the tone of the conversation professional. Your greeting should be welcoming. Always clarify in your greeting the reason why you are calling\n Needs analysis: Ask open-ended questions to understand whether its a table reservation or order booking or general enquiry of the hotel. Listen carefully. Don't over-confirm or clarify else the caller will be frustrated and cut the call.\n Solution presentation: Based on the needs of the request, present your solution which also adheres to your responsibilities.\n End conversation: Thank the customer for their time and confirm the next steps.\nAlso, before ending the call mention \"you will receive a confirmation text shortly for your table reservation or food delivery\" as applicable. If there are no more additional requests, say bye and end the call.",
                                        "greeting": "Hi, thanks for calling the Restaurant. I am Sophia, the Restaurant manager powered by AI, how may I assist you today?",
                                        "farewell": "Thanks for calling us, you have a great one! Bye"
                                    },
                                    "role": "Restuarant Receptionist",
                                    "roleDescription": "As a Restaurant Receptionist, your primary roles are as follows:\n1. Table Reservation by the guests - you are responsible for taking table reservation requests which involves asking guests or customers for their preferred date and time for visiting the restaurant, along with the total number of guests accompanying for the table reservation. During the call, confirm the reservation. Upon confirmation, convey that the table is reserved for the specific date and time and the number of guests. Ask the guest, if they have any more questions or requests, if not, then politely thank them for considering the restaurant and we are forward to welcoming you. If a table is unavailable or the restaurant is full during the requested date/time/number of guests, then politely convey the guest/customer the status and check if the guest will be ok to reserve another available slot.\n2. Entertaining any food order for pickup or food delivery by the guests - you are responsible for taking the food order concerning to the restaurant and the menu items available in the context, either a pickup or delivery request. Each menu item/dish has a name and price or cost associated with it. You always have to refer to these menu items/dishes and their prices while taking the order request. You can entertain any special requests only if that context is provided by the restaurant.\nFollowing are the steps to be followed for taking the food order either for pickup or delivery:\nLet the customer select the dish/item, if the selected dish/item has a variation like size or quantity, reconfirm with the guest/customer. Only add items to order as per customers choice. Reconfirm the ordered menu item share the itemized price and then move ahead.\nYou have to reconfirm each menu dish/item along with its price & requested quantity for order confirmation. Ensure you share the itemized value and also the total order value.\nYou have to share the total order value by adding the value of each item and quantity requested by the customer/guest. Don\u2019t add any more cost to the item price or total order value as all the items are inclusive of taxes. If any exceptions with price, the context will be provided by the restaurant.\nEnsure to reconfirm the entire order including quantity, price, menu item, and special request(if any) made by the customer before placing the order in the system. Ask if they need to add anything else, if yes, just add any additional items in addition to the existing order.\nFor order pickup, request the customer/quest for their name, and phone number for confirmation. If the customer already provided their name, and phone number at the start of the call, reconfirm the same details. Upon confirmation, mention the order will be ready in the next 30-45mins.\nFor food delivery, request the customer/quest for their name, phone number, and delivery address for confirmation. If the customer already provided their name, phone number, and delivery address at the start of the call, reconfirm the same details. Upon confirmation, mention the order will be delivered in the next 45 minutes - 1 hour.\n3. Entertaining any special requests by the guests - if there are any special requests like specific seating arrangements, meal preparation process, etc, the respective context will be provided by the restaurant beforehand. If no context, politely mention that you need to check internally and revert asap.\n4. Sharing menu items, day or week specials, offers, chef or restaurant specials if requested by the guests - apart from the menu request by the customer, proactively share any offers, daily or weekly specialties (if any). The restaurant will provide details and context.\n5. Taking any custom inquiry or celebration or corporate events or party arrangements by the guests - entertain any custom planning or celebrations or corporate events or arrangements by the guests. The restaurant will provide details and context.\n6. General Information sharing about the restaurant, food, preparation style, menu options, seating arrangements or capacity, rush hours, and timings. The restaurant will provide details and context.\n7. Transfer the call to a human or arrange a call back if the guest's request is unique or if they ask to speak to a human or manager of the restaurant. Respond with a call-back option within 30 mins.",
                                    "voice": {
                                        "gender": "Female",
                                        "languageAccent": {
                                            "language": "English",
                                            "accent": "Indian"
                                        },
                                        "modelId": "voi.1729331556.dtKoZ0k5"
                                    },
                                    "status": "active",
                                    "timezone": "Asia/Calcutta",
                                    "createdBy": "org.1726902940.GZChqlpU",
                                    "createdAt": "2024-09-21T07:18:52.955359",
                                    "updatedBy": "k5NA7lbjreQglMmOBTVzBh3rFyU2",
                                    "updatedAt": "2024-10-25T05:47:29.458315"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Agents"
                ],
                "summary": "Update a Specific AI Agent by ID",
                "description": "Update a Specific AI Agent by ID",
                "operationId": "updateAIAgentV1",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "agent_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "ID of the agent",
                            "title": "Agent Id"
                        },
                        "description": "ID of the agent"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AIAgent-Input"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "AI Agent updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AIAgent-Output"
                                },
                                "example": {
                                    "id": "aia.1726903132.obUuT7vM",
                                    "orgId": "org.1726902940.GZChqlpU",
                                    "name": "Sophia",
                                    "imageUrl": "https://lh3.googleusercontent.com/d/1O_8YXKk1lVOuo8EwFOW7VRdLKwdVrkNi=w1000?authuser=1/view",
                                    "mission": {
                                        "prompt": "You are an AI voice receptionist/agent for a restaurant. Your task is to engage in a human-like conversation with a caller/user/guest/customer, responding naturally and appropriately based on the conversation transcript and additional context provided.\nNever forget your name is {name}. You work as a {role} and as part of your work, you perform these {roleDescription}.\n            You work at a restaurant named {company_name}.\n            Your mission is to identify caller/user/guest/customer\u2019s requests and build strong relationships with them. You should maintain a positive attitude throughout the conversation and help the caller/user/guest/customer with the request.\nFor any other request made beyond the {roleDescription}, politely respond stating \u201cIt's beyond my context and role, but I can arrange a call back shortly. Can I have your name and the best number to reach\u201d\nIf the caller/customer asks for more information to be sent on their email, politely entertain that and request their email and best number to reach. Mention \"Someone from our team will revert shortly with the details you requested\". For table reservation always ask for date, time for the reservation. Also if they have any special requests.\nIf the caller/customer confirms the date and time for the table reservation or any other request, ask them to share their name and number first. For food delivery, ask for the name, number, and delivery address.\nIf the caller/customer asks for any information to be shared over an email, say \"Absolutely, what's your best email so we can share the info\"?\n            Follow conversation etiquettes:\n                1. When caller/user/guest/customer says \"hold on\" or \"let me complete\", you should respond with \"Sure, please go ahead\".\n                2. Keep your responses in short length to retain the caller/user/guest/customer\u2019s attention.\n                3. If the input question is not clear or incomplete, ask the user a clarification question, and give hints so that user can form a better question\n                4. Check your previous responses from the conversation history section and don't repeat the same sentences in your new responses. It will make users to lose interest.\nGuidelines for interaction:\n1. Always maintain a polite and friendly tone.\n2. Use the restaurant information provided to accurately answer questions.\n3. If you don't have specific information, politely inform the caller and offer to find out or connect them with someone who can help.\n4. For reservations, always confirm the date, time, number of guests, and any special requirements.\n5. When sharing menu information, be prepared to describe dishes, answer questions about ingredients, and mention any daily specials.\n6. For event bookings, gather all necessary details including the type of event, number of guests, preferred date and time, and any specific requirements.\n7. When handling food orders, confirm each item, ask about any customizations or dietary restrictions, and provide clear information about delivery times or pickup options.\n8. For special requests, listen carefully and try to accommodate if possible. If a request can't be fulfilled, offer alternatives.\nHandling objections and special situations:\n1. If a desired reservation time is not available, offer alternative times or dates.\n2. If a menu item is unavailable, apologize and suggest similar dishes.\n3. If there's a complaint, listen empathetically, apologize sincerely, and offer to address the issue or connect the caller with a manager if necessary.\n4. For any request you can't fulfill immediately, offer to take a message or have someone call back with more information.\nRemember to respond naturally, as if you were a human receptionist. Avoid using robotic or overly formal language. Use conversational phrases and show empathy where appropriate.\n            Your conversation can be in one of these stages in no particular order\n            # START OF STAGE DETAILS\n            {sequences}\n            # END OF STAGE DETAILS\n            Respond according to the stage of the conversation you are at. Dont use emojis or any emoticons in your response as your service is going to be rendered as a speech from a text-to-speech service.\n            This is your current conversation history with user, use this conversation history while generating response\n            # START OF CONVERSATION HISTORY\n            {conversation_history}\n            # END OF CONVERSATION HISTORY\n            Also these CONTEXT contains relevant information to answer user's query. Use this context to generate response\n            # START OF CONTEXT\n            {context}\n            # END OF CONTEXT\n\"Do not mention the price unless the caller asks\"\n\"If the customer/caller asks, are these vegan dishes? respond, yes we do have vegan options\"\n            Keep your responses always in the context of sales and support for the {company_name}.\n            Convey a confident tone, using direct and decisive language.\n            IMPORTANT: End each response with a probing question or a prompt that directs the user towards one of your objectives. Keep your responses in two or fewer short sentences.\n            Example Endings:\n            \"Would you like to proceed with a table reservation?\"\n            \"Shall I go ahead and place that order for you?\"\n            \"Is there anything else you'd like to know about our services?\"\n            Now, generate a response for the user question: {question}\nBe polite and respectful while keeping the tone of the conversation professional. Your greeting should be welcoming. Always clarify in your greeting the reason why you are calling\n Needs analysis: Ask open-ended questions to understand whether its a table reservation or order booking or general enquiry of the hotel. Listen carefully. Don't over-confirm or clarify else the caller will be frustrated and cut the call.\n Solution presentation: Based on the needs of the request, present your solution which also adheres to your responsibilities.\n End conversation: Thank the customer for their time and confirm the next steps.\nAlso, before ending the call mention \"you will receive a confirmation text shortly for your table reservation or food delivery\" as applicable. If there are no more additional requests, say bye and end the call.",
                                        "greeting": "Hi, thanks for calling the Restaurant. I am Sophia, the Restaurant manager powered by AI, how may I assist you today?",
                                        "farewell": "Thanks for calling us, you have a great one! Bye"
                                    },
                                    "role": "Restuarant Receptionist",
                                    "roleDescription": "As a Restaurant Receptionist, your primary roles are as follows:\n1. Table Reservation by the guests - you are responsible for taking table reservation requests which involves asking guests or customers for their preferred date and time for visiting the restaurant, along with the total number of guests accompanying for the table reservation. During the call, confirm the reservation. Upon confirmation, convey that the table is reserved for the specific date and time and the number of guests. Ask the guest, if they have any more questions or requests, if not, then politely thank them for considering the restaurant and we are forward to welcoming you. If a table is unavailable or the restaurant is full during the requested date/time/number of guests, then politely convey the guest/customer the status and check if the guest will be ok to reserve another available slot.\n2. Entertaining any food order for pickup or food delivery by the guests - you are responsible for taking the food order concerning to the restaurant and the menu items available in the context, either a pickup or delivery request. Each menu item/dish has a name and price or cost associated with it. You always have to refer to these menu items/dishes and their prices while taking the order request. You can entertain any special requests only if that context is provided by the restaurant.\nFollowing are the steps to be followed for taking the food order either for pickup or delivery:\nLet the customer select the dish/item, if the selected dish/item has a variation like size or quantity, reconfirm with the guest/customer. Only add items to order as per customers choice. Reconfirm the ordered menu item share the itemized price and then move ahead.\nYou have to reconfirm each menu dish/item along with its price & requested quantity for order confirmation. Ensure you share the itemized value and also the total order value.\nYou have to share the total order value by adding the value of each item and quantity requested by the customer/guest. Don\u2019t add any more cost to the item price or total order value as all the items are inclusive of taxes. If any exceptions with price, the context will be provided by the restaurant.\nEnsure to reconfirm the entire order including quantity, price, menu item, and special request(if any) made by the customer before placing the order in the system. Ask if they need to add anything else, if yes, just add any additional items in addition to the existing order.\nFor order pickup, request the customer/quest for their name, and phone number for confirmation. If the customer already provided their name, and phone number at the start of the call, reconfirm the same details. Upon confirmation, mention the order will be ready in the next 30-45mins.\nFor food delivery, request the customer/quest for their name, phone number, and delivery address for confirmation. If the customer already provided their name, phone number, and delivery address at the start of the call, reconfirm the same details. Upon confirmation, mention the order will be delivered in the next 45 minutes - 1 hour.\n3. Entertaining any special requests by the guests - if there are any special requests like specific seating arrangements, meal preparation process, etc, the respective context will be provided by the restaurant beforehand. If no context, politely mention that you need to check internally and revert asap.\n4. Sharing menu items, day or week specials, offers, chef or restaurant specials if requested by the guests - apart from the menu request by the customer, proactively share any offers, daily or weekly specialties (if any). The restaurant will provide details and context.\n5. Taking any custom inquiry or celebration or corporate events or party arrangements by the guests - entertain any custom planning or celebrations or corporate events or arrangements by the guests. The restaurant will provide details and context.\n6. General Information sharing about the restaurant, food, preparation style, menu options, seating arrangements or capacity, rush hours, and timings. The restaurant will provide details and context.\n7. Transfer the call to a human or arrange a call back if the guest's request is unique or if they ask to speak to a human or manager of the restaurant. Respond with a call-back option within 30 mins.",
                                    "voice": {
                                        "gender": "Female",
                                        "languageAccent": {
                                            "language": "English",
                                            "accent": "Indian"
                                        },
                                        "modelId": "voi.1729331556.dtKoZ0k5"
                                    },
                                    "status": "active",
                                    "timezone": "Asia/Calcutta",
                                    "createdBy": "org.1726902940.GZChqlpU",
                                    "createdAt": "2024-09-21T07:18:52.955359",
                                    "updatedBy": "k5NA7lbjreQglMmOBTVzBh3rFyU2",
                                    "updatedAt": "2024-10-25T05:47:29.458315"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Agents"
                ],
                "summary": "Delete a Specific AI Agent by ID",
                "description": "Delete a Specific AI Agent by ID",
                "operationId": "deleteAIAgentV1",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "agent_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "ID of the agent",
                            "title": "Agent Id"
                        },
                        "description": "ID of the agent"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "AI Agent deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                },
                                "example": {
                                    "message": "Success"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/voice-models": {
            "get": {
                "tags": [
                    "VoiceModels"
                ],
                "summary": "Get list of voices available for calls",
                "description": "Get list of voices available for calls",
                "operationId": "listVoiceModelsV1",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/VoiceModel"
                                    },
                                    "type": "array",
                                    "title": "Response Listvoicemodelsv1"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/v1/hives": {
            "post": {
                "tags": [
                    "Hive"
                ],
                "summary": "Create a New Hive",
                "description": "Hive is a collection of documents that are used to train the Agent. Hive can be a PDF, DOCX, TXT or a website URL",
                "operationId": "createHiveV1",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/backend__dto__models__HiveContent"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Hive created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Hive"
                                },
                                "example": {
                                    "id": "hiv.1727418138.IPGwVl1f",
                                    "orgId": "org.1726902940.GZChqlpU",
                                    "content": {
                                        "hiveType": "WEBSITE",
                                        "url": "https://www.cotekoreansteakhouse.com/",
                                        "hiveProps": {
                                            "crawl_child_pages": true
                                        }
                                    },
                                    "status": "completed",
                                    "createdBy": "org.1726902940.GZChqlpU",
                                    "createdAt": "2024-09-27T06:22:18.000277",
                                    "updatedBy": "trata-system",
                                    "updatedAt": "2024-09-27T06:27:34.276065"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Hive"
                ],
                "summary": "List All Hives",
                "description": "List All Hives",
                "operationId": "listHivesV1",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "search_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Field name to search by",
                            "title": "Search By"
                        },
                        "description": "Field name to search by",
                        "example": "name"
                    },
                    {
                        "name": "search_value",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Value to search for in the specified field",
                            "title": "Search Value"
                        },
                        "description": "Value to search for in the specified field",
                        "example": "search term"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Filter by status",
                            "title": "Status"
                        },
                        "description": "Filter by status",
                        "example": "active"
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Field to sort by",
                            "title": "Sort By"
                        },
                        "description": "Field to sort by",
                        "example": "createdAt"
                    },
                    {
                        "name": "sort_order",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "$ref": "#/components/schemas/SortOrder"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Sort order (asc or desc)",
                            "default": "asc",
                            "title": "Sort Order"
                        },
                        "description": "Sort order (asc or desc)"
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "description": "Number of records to skip",
                            "default": 0,
                            "title": "Skip"
                        },
                        "description": "Number of records to skip"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1,
                            "description": "Maximum number of records to return",
                            "default": 100,
                            "title": "Limit"
                        },
                        "description": "Maximum number of records to return"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of hives retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Hive"
                                    },
                                    "title": "Response Listhivesv1"
                                },
                                "example": [
                                    {
                                        "id": "hiv.1727418138.IPGwVl1f",
                                        "orgId": "org.1726902940.GZChqlpU",
                                        "content": {
                                            "hiveType": "WEBSITE",
                                            "url": "https://www.cotekoreansteakhouse.com/",
                                            "hiveProps": {
                                                "crawl_child_pages": true
                                            }
                                        },
                                        "status": "completed",
                                        "createdBy": "org.1726902940.GZChqlpU",
                                        "createdAt": "2024-09-27T06:22:18.000277",
                                        "updatedBy": "trata-system",
                                        "updatedAt": "2024-09-27T06:27:34.276065"
                                    }
                                ]
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/hives/{hive_id}": {
            "get": {
                "tags": [
                    "Hive"
                ],
                "summary": "Get a Specific Hive by ID",
                "description": "Get a Specific Hive by ID",
                "operationId": "getHiveV1",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "hive_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "ID of the hive",
                            "title": "Hive Id"
                        },
                        "description": "ID of the hive"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Hive retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Hive"
                                },
                                "example": {
                                    "id": "hiv.1727418138.IPGwVl1f",
                                    "orgId": "org.1726902940.GZChqlpU",
                                    "content": {
                                        "hiveType": "WEBSITE",
                                        "url": "https://www.cotekoreansteakhouse.com/",
                                        "hiveProps": {
                                            "crawl_child_pages": true
                                        }
                                    },
                                    "status": "completed",
                                    "createdBy": "org.1726902940.GZChqlpU",
                                    "createdAt": "2024-09-27T06:22:18.000277",
                                    "updatedBy": "trata-system",
                                    "updatedAt": "2024-09-27T06:27:34.276065"
                                }
                            }
[...]
